// Import reset
@import url('../css/reset.css');

// Import styles
@import url('theme.less');
@import url('variables.less');
@import url('helpers.less');

// Import components
@import url('components/component-nav.less');
@import url('components/component-news.less');
@import url('components/component-label.less');
@import url('components/component-tooltip.less');

// Import mixins
@import url('mixins/mixins.less');

// Left column
.sidebar {
    border-right: 1px solid @color-border;
    max-width: 320px;
    height: 100vh;
    background: @color-bright-two;
    .module-news {
        background: @color-bright-two;
    }
}

// Right column
.main {
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
    padding-top: 25px;
    justify-content: space-between;
    .text-content {
        width: 45%;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    .top {
        margin-top: 20px;
        margin-bottom: 70px;
        padding-left: 15px;
        width: 100%;
    }
    
    .visual-content {
        width: 55%;
        margin-top: 96px;
        position: relative;
        .content-img {
            width: 100%;
            max-width: 850px;
            height: auto;
            margin: 0 auto;
        }
    }

    button {
        position: absolute;
        background: none;
        border: 1px solid orange;
        color: orange;
        padding: 5px 25px;
        top: 120px;
        left: 15px;
        cursor: pointer;
        &:hover{
            background: orange;
            color: @color-bright-one;
        }
    }

    .separator {
        width: 100%;
        height: 50px;
        justify-content: space-between;
    }

    .component-label {
        padding: 40px 15px;
    }

    .component-label--full {
        padding: 0;
    }

    #tooltips {
        top: 0;
    }
}
