// Basic theme configuration

@font-face {
    font-family: futura-light;
    src: url('../../fonts/Futura-LT-Light.ttf')
}

@font-face {
    font-family: futura-basic;
    src: url('../../fonts/FuturaLT-Book.otf');
}

body {
    font-family: futura-light;
    a {
        color: @color-dark-primary;
        text-decoration: none;
    }
}
