// Colors

@color-bright-one: #ffffff;
@color-bright-two: #deded9;
@color-bright-three: #d9d9d4;
@color-dark-primary: #292929;
@color-orange: #f07d00;
@color-border: #e6e6e6;

// Typography

@font-basic:  futura-basic;
@font-light:  futura-light;
