.multiborder(@length: 35px, @color: @color-bright-one, @opacity: 0.1) {
    &::after {
        opacity: @opacity;
        content:""; 
        background: @color; 
        position: absolute; 
        bottom: 0; 
        left: 0; 
        height: @length; 
        width: 1px;
    }

    &::before {
        opacity: @opacity;
        content:""; 
        background: @color; 
        position: absolute; 
        bottom: 0; 
        left: 0; 
        width: @length; 
        height: 1px;
    }

    &-border {
        &::after {
            opacity: @opacity;
            content:""; 
            background: @color;
            position: absolute; 
            bottom: 0; 
            right: 0; 
            width: @length; 
            height: 1px;
        }

        &::before {
            opacity: @opacity;
            content:""; 
            background:@color;
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 1px; 
            height: @length;
        }
    }
}
