// Component navigation

.component-nav {
    position: relative;
    text-transform: uppercase;
    &__element {
        position: relative;
    }
    
    &__element-link {
        display: block;
        padding: 33px 0 33px 45px;
        border-bottom: 1px solid @color-border;
        text-decoration: none;
        background: @color-bright-one;
        color: @color-dark-primary;
        font-size: 14px;
        &:hover {
            background: @color-dark-primary;
            border-right: 3px solid @color-orange;
            color: @color-bright-one;
        }
        &--active,
        &.toggle-active {
            background: @color-dark-primary;
            border-right: 3px solid @color-orange;
            color: @color-bright-one;
        }
    }

    &-sub {
        background: @color-dark-primary;
        position: absolute;
        width: 1300px;
        flex-wrap: wrap;
        left: 100%;
        z-index: 9;
        top: 0;
        display: none;
        &__element {
            box-sizing: border-box;
            width: 25%;
            display: block;
            position: relative;
            overflow: hidden;
            &-link {
                display: block;
                position: relative;
                height: 190px;
                text-decoration: none;
                &-img {
                    position: absolute;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                    &:hover {
                        opacity: .4;
                        transform: scale(1.1);
                    }
                }

                &-title {
                    font-size: 14px;
                    position: absolute;
                    bottom: 50px;
                    display: block;
                    color: @color-bright-one;
                    margin-left: 20px;
                }
                
                &-subtitle {
                    margin-left: 20px;
                    position: absolute;
                    bottom: 30px;
                    display: block;
                    color: @color-bright-one;
                    font-size: 15px;
                    font-family: @font-basic;
                }               
            }
            .multiborder(); // Use @length, @color and @opacity to modify border for submenu
        }
    }
}
