// Component label

.component-label {
    width: 42%;
    &--full {
        width: 100%;
        padding: 0;
    }

    &__title {
        font-size: 60px;
        &-small {
            font-size: 12px;
        }
        
        &--move {
            margin-left: -10px;
        }
    }

    &__subtitle {
        font-size: 20px;
        margin-top: 15px;
        &--uppercase {
            position: relative;
            text-transform: uppercase;
            margin-top: 0;
            span {
                display: inline-block;
                padding-right: 15px;
                background: @color-bright-one;
            }

            &::after {     
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: @color-dark-primary;
                position: absolute;
                right: 0;
                bottom: 3px;
                z-index: -9;
            }
        }
    }
}
