// Component news bar

.component-news {
    &__title {
        text-transform: uppercase;
        padding: 33px 10px 33px 45px;
        font-size: 14px;
        background: @color-bright-two;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e3e3df;
        &-link {
            text-decoration: none;
            font-size: 13px;
            float: right;
            text-transform: lowercase;
        }
    }

    &__content {
        font-size: 12px;
        padding: 33px 10px;
        background: @color-bright-three;
        border-bottom: 1px solid #e3e3df;
        &--small {
            padding: 25px 10px;
        }
        
        &-message-bold {
            font-family: @font-basic;
        }

        &-more-link {
            font-size: 13px;
            float: right;
        }
    }

    // Owl carousel
    .owl-theme .owl-dots {
        float: right;
        padding-right: 10px;
        .owl-dot span {
            border-radius: 0;
            border: 1px solid @color-dark-primary;
            background: none;
            width: 5px;
            height: 5px;
        }
    }
}
