// Component tooltip

.component-tooltip__element {
    position: absolute;
    &--first {
        top: 120px;
        left: 200px;
    }

    &--second {
        bottom: 150px;
        left: 0;
    }

    &--third {
        bottom: 50px;
        left: 150px;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: @color-bright-one;
        color: rgb(148, 148, 148)y;
        border-radius: 50%;
        border: 1px solid rgb(148, 148, 148);
        font-size: 46px;
        &:hover {
            background: @color-orange;
            color: @color-bright-one;
        }

        &--active,
        &.toggle-active {
            background: @color-orange;
            color: @color-bright-one;
        }
    }

    &-message {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(100px, -50%);
        width: 250px;
        background: @color-bright-one;
        border: 1px solid gray;
        padding: 20px 30px;
        justify-content: center;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background: @color-bright-one;
            position: absolute;
            border-left: 1px solid gray;
            border-bottom: 1px solid gray;
            transform: rotate(45deg);
            left: -22px;
        }

        &-title {
            display: block;
            font-size: 26px;
            margin-bottom: 13px;
        }
    }
}
